---
import SectionAboutMe from "../sections/about-me/SectionAboutMe.astro";
import SectionContacts from "../sections/contacts/SectionContacts.astro";
import SectionHero from "../sections/hero/SectionHero.astro";
import SectionPortfolioCards from "../sections/portfolio-cards/SectionPortfolioCards.astro";
import SectionRibbon from "../sections/ribbon/SectionRibbon.astro";
---

<main>
  <SectionHero />
  <SectionPortfolioCards />
  <SectionAboutMe />
  <SectionRibbon />
  <SectionContacts />
</main>
