---
import Button from "@/common/components/ui/button/Button.svelte";
import configJson from "@/common/config.json";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@/i18n/utils";
import { getSocial } from "@/lib/cruds/social";

const lang = getLangFromUrl(Astro.url);
const config = configJson[lang];

const tg = await getSocial("telegram", lang);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header class="sticky top-0 z-30 backdrop-blur-xs">
  <div class="container flex justify-between items-center py-4">
    <a class="site-logo" href={translatePath("/")}>
      {config.site_name}
    </a>
    <Button href={tg.url} external>{t("contact_btn_label")}</Button>
  </div>
  <hr
    class="border-none h-px opacity-15 bg-gradient-to-r from-transparent via-white to-transparent"
  />
</header>
